body {
	background-color: #f3f2e7;
	font-family: 'Noto Sans KR', sans-serif;
}

.all-books {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book {
    position: relative;
    width: 400px;
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px #888888;
    cursor: pointer;
}

.book:hover {
    background-color: #c3b7a0;
    color: white;
}

.book:hover .recommendation-info u {
    border-bottom:1px dashed #ffffff;
    text-decoration: none;
}

.book:hover .recommendation-info {
    color: white;
}

.recommendation-info u {
    border-bottom:1px dashed #af9e7e;
    text-decoration: none;
}

.recommendation-info {
    padding: 6px 0px 0px 0px;
    font-size: 14px;
    color: #af9e7e;
}

.recommendation-hover-card {
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    width:400px;
    max-height: 800px;
    overflow-y: scroll;
    margin:0;
    padding:0;
    z-index:1;
}

.recommendation-hover-card th {
    background-color: #9c8d71;
    color: white;
}

.recommendation-hover-card .table-row-0 {
    background-color: white;
    color: black;
}
.recommendation-hover-card .table-row-1 {
    background-color: #f3f2e7;
    color: black;
}
.recommendation-hover-card table, th, td {
    border: 1px solid #c3b7a0;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}
.recommendation-hover-card table {
    margin: 10px;
}
.disliked-input-table {
    float: right;
}
.liked-input-table {
    float: left;
}
table {
    width: 45%;
}
.sim-blurb {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #96886c;
    color: white;
}

.recommendation-info:hover .recommendation-hover-card{
    display:block;
}

.rec-card {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}


.book-cover {
    align-self: center;
}

.book-title {
    font-weight: bolder;
    font-size: larger;
}

.book-summary {
    overflow-y: scroll;
    text-align: left;
}

.book-author {
    font-size: large;
}


.book-inspect-bg {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top:0;
    background: rgba(0,0,0,0.5);
}

.book-inspect {
    position: relative;
    width: 75%;
    margin: auto;
    background-color: white;
    text-align: center;
    height: 75%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 10px #888888;
}

.book-inspect .book-cover {
    height: 50%;
    align-self: center;
}

.book-inspect-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.book-inspect .book-summary {
    padding-left: 50px;
}

.book-rank {
    position: absolute;
    left: 5;
    top: 5;
    font-weight: bold;
    font-size: large;
}

#showMore {
    padding: 8px 25px 5px 25px;
    margin: 3vh auto 3vh auto;
    background: black;
    border-radius: 20px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    height: 60px;
    text-align: center;
    width: 20vw;
}

#centerButton {
    text-align: center;
}

#showMore:hover {
    background: rgb(53, 53, 53);
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
}